<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>
<%= user_gravatar @user %>

<h2><%= @user.first_name%>'s posts<h2>

<p>You have <%= @friend_requests.count %> friend requests</p>

<%= render @user.posts, show_likes: true %>

<%= link_to 'Back', posts_path %>